{% extends "AppBundle::base.html.twig" %}

{% block title %}{{ gameName }} - Création du personnage {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        
        <h2 class="page-header">Création de personnage</h2>
        {{ form_start(form) }}
        
        {{ form_errors(form) }}
        
        {{ form_row(form.name) }}
    
        {{ form_row(form.backstory) }}
    
        <label class="control-label">Caractéristiques</label>
        <ul class="list-unstyled">
            {# iterate over each existing tag and render its only field: name #}
            {% for characteristic in form.characteristics %}
                <li class="col-xs-offset-1">{{ form_row(characteristic.value) }}</li>
            {% endfor %}
        </ul>
    
        {{ form_widget(form.token) }}
        
        {{ form_row(form.save) }}
        
        {{ form_rest(form) }}
        
        {{ form_end(form) }}
    
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
