{% extends "AppBundle::base.html.twig" %}

{% block title %}{{ app.user.username }} - Parties en tant que MJ {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="page-header">Mes parties en tant que maître du jeu </h2>
        {% for game in games %}
            <div class="row">
                <div class="list-group col-lg-6">
                    <a href="{{ path('game_play_as_mj', {'idGame': game.id }) }}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ game.name }}</h4>
                        <p class="list-group-item-text">{{ game.description|truncate(100, true) }}</p>
                    </a>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}