{% extends "AppBundle::base.html.twig" %}

{% block title %}{{ gameName }} - Édition {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/AppBundle/GameEditor/game_edit.css') }}">

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <a class="pull-right btn btn-default" data-toggle="tooltip"
               title="Jouer" href="{{ path('game_play_as_mj', {'idGame': idGame}) }}">
                <span class="glyphicon glyphicon-play"></span>
            </a>
            <div class="page-header">
                <h2 id="game-name">{{ gameName }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <fieldset>
                    <legend>Statistiques</legend>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <legend>Caractéristiques</legend>
                </fieldset>
            </div>
        </div>

        <fieldset>
            <legend>Participants</legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix row" style="margin: 0;">

                            <div class="input-group col-xs-offset-7">
                                <input type="text" class="form-control" id="new-player"
                                       placeholder="Ajouter un utilisateur">
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Utilisateur</th>

                        </tr>
                        </thead>
                        <tbody id="players">
                        {% for player in players %}
                            <tr>
                                <td class="player-name">{{ player.user.username }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger remove-player">Retirer
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>Paramètres généraux</legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="panel-body">
                                    <div class="col-xs-7">
                                        <label for="nb-spells-max" data-toggle="tooltip"
                                               title="Vous pouvez redéfinir ce nombre en fonction de chaque joueur dans la menu de la partie">
                                            Nombre de sorts par personnage
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <input class="form-control" id="nb-spells-max" type="number"
                                               value="{{ nbSpellsMax }}">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </fieldset>


    </div>
{% endblock %}




{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/AppBundle/GameEditor/game_edit.js') }}"></script>
    <script>$('[data-toogle="tooltip"]').tooltip();</script>
{% endblock %}