{% extends "AppBundle::base.html.twig" %}

{% block title %} Édition personnage - {{ gameName }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <fieldset class="col-md-12">
                <legend>Informations générales</legend>
                <div class="panel panel-default">
                    <img class="center-block" src="{{ asset('/img/tokens/' ~ character.token)|imagine_filter('large_token') }}" alt="">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="panel-body">
                                <label for="character-name" class="control-label col-xs-3 col-sm-2">Nom</label>
                                <div class="col-xs-9 col-sm-10">
                                    <input name=character-name" id="character-name" type="text" class="form-control"
                                           value="{{ character.name }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel-body">
                                <label for="character-backstory"
                                       class="control-label col-xs-3 col-sm-2">Histoire</label>
                                <div class="col-xs-9 col-sm-10">
                                    <textarea id="character-backstory" rows="5"
                                              class="form-control">{{ character.backstory }}</textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="col-md-12">
                <legend>Sorts</legend>
                <div class="panel panel-default">
                    <div id="spells-list" class="list-group col-sm-8 col-sm-offset-2">
                        {% for spell in character.spells %}
                            <a href="#" class="list-group-item clearfix">
                                <h4 class="list-group-item-heading">{{ spell.name }}</h4>
                                <p class="list-group-item-text text-justify">
                                    {{ spell.description }}
                                <p class="pull-right">
                                    <button class="btn btn-default">Modifier</button>
                                </p>
                            </a>
                        {% endfor %}
                    </div>
                    <form class="form-horizontal">

                        <div class="form-group">
                            <div class="panel-body">
                            </div>
                        </div>
                    </form>
                    <div class="panel-body" id="create-new-spell-body">
                        <button class="btn btn-default" id="create-new-spell-button">Ajouter un sort</button>
                    </div>

                </div>
            </fieldset>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/AppBundle/CharacterEditor/character_edit.js') }}"></script>
{% endblock %}