{% extends "AppBundle::base.html.twig" %}

{% block title %}{{ gameName }} - Maître du jeu {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/AppBundle/GamePlay/play_as_mj.css') }}">

{% endblock %}
{% block javascriptHead %}
    <script>
        let localStorageSupported = typeof(Storage) !== "undefined";
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul class="chat">
            
            </ul>
            <a class="pull-right btn btn-default" data-toggle="tooltip"
               title="Éditer la configuration de la partie" href="{{ path('game_edition', {'idGame': gameId}) }}"><span
                        class="glyphicon glyphicon-cog"></span></a>
            <div class="dropdown pull-right" id="hidden-characteristics-menu">
                <button class="btn btn-default dropdown-toggle"
                        type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-eye-open"></span> <span
                            class="caret"></span>
                </button>
                <ul id="hidden-characteristics" class="dropdown-menu"></ul>
            </div>
        </div>
        
        <table class="table table-striped">
            <thead>
            <tr class="header">
                <th class="user">Utilisateur</th>
                <th class="character">Personnage</th>
                {% for gameStatistic in gameStatistics %}
                    <th class="{{ formatName(gameStatistic.name) }}">{{ gameStatistic.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            
            
            <tbody id="players-data">
            {% for player in players %}
                {% if player.character %}
                    <tr id="player-summary-{{ player.id }}" class="player-summary">
                        <td class="user">{{ player.user.username }}</td>
                        <td class="character">{{ player.character.name }}</td>
                        {% for gameStatistic in gameStatistics %}
                            <td class="{{ formatName(gameStatistic.name) }}">
                                <input type="number" class="form-control" value="{{ attribute(attribute(usersStats, player.user.username), gameStatistic.name).value }}"
                                       id="statistic-{{ attribute(attribute(usersStats, player.user.username), gameStatistic.name).id }}">
                            </td>
                        {% endfor %}
                        <td class="dropdown-character">
                            <button class="btn btn-default show-player-data"><span class="glyphicon glyphicon-chevron-down"></span></button>
                        </td>
                    </tr>
                    <tr class="player-data" id="player-data-{{ player.id }}">
                        <td colspan="{{ gameStatistics|length +3 }}">
                            <div class="row">
                                <fieldset class="col-lg-6">
                                    <legend>Histoire</legend>
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <img src="{{ asset('/img/tokens/' ~ player.character.token)|imagine_filter('large_token') }}" alt="">
                                        </div>
                                        <div class="media-body text-justify">
                                            <p>{{ player.character.backStory|truncate(20,true, '<a href="">...</a>')|raw }}</p>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="col-lg-6">
                                    <legend>Résumé</legend>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="nb-spells-max-{{ player.character.id }}" class="col-sm-3 control-label">Nombre de sorts</label>
                                            <div class="col-sm-8">
                                                <input type="number" id="nb-spells-max-{{ player.character.id }}" class="form-control nb-spells-max"
                                                       value="{{ player.character.nbSpellsMax }}">
                                            </div>
                                        </div>
                                        {% for statistic in player.character.statistics %}
                                            <div class="form-group">
                                                {% if statistic.hasMax %}
                                                    {% if statistic.valueMax == 0 %}
                                                        {% set width = '100%;' %}
                                                    {% else %}
                                                        {% set width = statistic.value / statistic.valueMax *100 ~ "%;" %}
                                                    {% endif %}
                                                    <label class="col-sm-3 control-label">{{ statistic.name }}</label>
                                                    <div class="col-sm-8">
                                                        <div class="progress">
                                                            <div class="progress-bar " id="{{ formatName(statistic.name) }}-progress-{{ player.id }}" role="progressbar"
                                                                 style="width: {{ width }}">
                                                                <span>{{ statistic.value ~ '/' ~ statistic.valueMax }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            
                                            </div>
                                        {% endfor %}
                                    </form>
                                </fieldset>
                            </div>
                            <div class="row">
                                <fieldset class="col-lg-6 statistics">
                                    <legend>Statistiques</legend>
                                    <form class="form-horizontal">
                                        {% for statistic in player.character.statistics %}
                                            <div class="form-group">
                                                {% if statistic.hasMax %}
                                                    <label for="{{ formatName(statistic.name) ~ "-max-" ~ statistic.id }}"
                                                           class="control-label col-sm-3">{{ statistic.name ~ " max" }}</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" id="{{ formatName(statistic.name) ~ "-max-" ~ statistic.id }}" class="form-control max-stat"
                                                               value="{{ statistic.valueMax }}">
                                                    </div>
                                                
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </form>
                                </fieldset>
                                <fieldset class="col-lg-6 characteristics">
                                    <legend>Caractéristiques</legend>
                                    <form class="form-horizontal">
                                        {% for characteristic in player.character.characteristics %}
                                            <div class="form-group">
                                                <label for="{{ characteristic.name ~ "-" ~ characteristic.id }}" class="control-label col-sm-2">{{ characteristic.name }}</label>
                                                <div class="col-sm-10">
                                                    <input type="number" id="{{ characteristic.name ~ "-" ~ characteristic.id }}" class="form-control charac-value"
                                                           value="{{ characteristic.value }}">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </form>
                                
                                </fieldset>
                            </div>
                            <div class="row">
                                <fieldset class="col-lg-12">
                                    <legend>Sorts</legend>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="list-group spells">
                                                {% for spell in player.character.spells %}
                                                    <a href="javascript:void(0)" class="list-group-item">
                                                        <h4 class="list-group-item-heading">{{ spell.name }}</h4>
                                                        <div class="list-group-item-text">
                                                            <p>{{ spell.description }}</p>
                                                        </div>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </td>
                    </tr>
                
                {% else %}
                    <tr id="player-summary-{{ player.id }}">
                        <td class="user">{{ player.user.username }}</td>
                        <td colspan="{{ gameStatistics|length +2 }}">
                            <table>
                                <tr>
                                    <td colspan="{{ gameStatistics|length +2 }}">Ce joueur n'a pas encore créer son personnage</td>
                                </tr>
                            </table>
                        </td>
                    
                    </tr>
                {% endif %}
            
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'AppBundle:GamePlay:menu-edit-progress-bar.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src= {{ asset('js/jquery-ui.min.js') }}></script>
    <script src="{{ asset('js/AppBundle/GamePlay/play_as_mj.js') }}"></script>
    {#<script src="{{ asset('js/AppBundle/GamePlay/damage_helper.js') }}"></script>#}

{% endblock %}