{# tableau des caractéristiques canoniques (permet de garder l'odre pour garder
une cohérence dans l'affichage #}
{% set canonicalAllowedCharacteristics = [] %}

{% for allowedCharacteristic in allowedCharacteristics %}
    {% set canonicalAllowedCharacteristics = canonicalAllowedCharacteristics|merge([formatName(allowedCharacteristic)]) %}
{% endfor %}

{% extends "AppBundle::base.html.twig" %}

{% block title %}{{ gameName }} - Maître du jeu {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/AppBundle/GamePlay/play_as_mj.css') }}">

{% endblock %}
{% block javascriptHead %}
    <script>
        let localStorageSupported = typeof(Storage) !== "undefined";
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <a class="pull-right btn btn-default" data-toggle="tooltip"
               title="Éditer la configuration de la partie" href="{{ path('game_edition', {'idGame': gameId}) }}"><span
                        class="glyphicon glyphicon-cog"></span></a>
            <div class="dropdown pull-right" id="hidden-characteristics-menu">
                <button class="btn btn-default dropdown-toggle"
                        type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-eye-open"></span> <span
                            class="caret"></span>
                </button>
                <ul id="hidden-characteristics" class="dropdown-menu"></ul>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr class="header">
                <th class="user">Utilisateur</th>
                <th class="character">Personnage</th>
                {% for allowedCharacteristic in allowedCharacteristics %}
                    <th class="{{ formatName(allowedCharacteristic) }}">
                        {{ allowedCharacteristic }}
                        <span class="glyphicon glyphicon-eye-close pull-right"></span>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr class="player-{{ player.id }}">
                    <th class="user">{{ player.username }}</th>
                    {% if player.playerName == "N/A" %}
                        <th class="inexisting-character" colspan="{{ allowedCharacteristics|length +1 }}">Ce joueur n'a
                            pas
                            encore créé son personnage
                        </th>
                    {% else %}
                        <th class="character">
                            {{ player.playerName }}
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </th>
                        {% for canonicalAllowedCharacteristic in canonicalAllowedCharacteristics %}
                            <th class="{{ canonicalAllowedCharacteristic }}">
                                <input class="form-control characteristic" type="number"
                                       value="{{ attribute(player.characteristics, canonicalAllowedCharacteristic) }}">
                            </th>
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr class="player-data" id="player-data-{{ player.id }}">
                    <th colspan="{{ allowedCharacteristics|length +2 }}">
                        {% if player.character %}
                            <div class="row">
                                <fieldset class="col-lg-6">
                                    <legend>Histoire</legend>
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <img src="{{ asset('/img/tokens/' ~ player.character.token)|imagine_filter('large_token') }}"
                                                 alt="">
                                        </div>
                                        <div class="media-body text-justify">
                                            <p>{{ player.character.backStory }}</p>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="col-lg-6">
                                    <legend>Caractéristiques</legend>
                                    <form class="form-horizontal">
                                        {% for characteristic in player.character.characteristics %}
                                            <div class="form-group characteristic">
                                                <div class="panel-body">
                                                    <label class="col-xs-2 col-lg-2 control-label">{{ characteristic.name }}</label>
                                                    {% if characteristic.hasMax %}
                                                        {% if characteristic.maxValue != 0 %}
                                                            {% set width = characteristic.value / characteristic.maxValue *100 %}
                                                        {% else %}
                                                            {% set width = 100 %}
                                                        {% endif %}
                                                        <div class="col-xs-10 col-lg-10"
                                                             style="margin-top:7px;">
                                                            <div class="{{ formatName(characteristic.name) }}">
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-success progress-bar-striped active"
                                                                         role="progressbar"
                                                                         style="width:{{ width ~"%;" }}">
                                                                        <span>{{ characteristic.value ~ '/' ~ characteristic.maxValue }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="col-xs-10 col-lg-11 text-center"
                                                             style="margin-top:7px;">
                                                            <div class="{{ formatName(characteristic.name) }}">
                                                                <span>{{ characteristic.value }}</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </form>
                                </fieldset>
                            </div>
                            <div class="row">
                                <fieldset>
                                    <legend>Sorts</legend>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="list-group spells">
                                                {% for spell in player.character.spells %}
                                                    <div>
                                                        <a href="javascript:void(0)" class="list-group-item">
                                                            <h4 class="list-group-item-heading">{{ spell.name }}</h4>

                                                            <div class="row">
                                                                <div class="col-xs-8">
                                                                    <p class="list-group-item-text">{{ spell.description }}</p>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <input type="number" id="value-dice-player" placeholder="Dé" class="form-control">
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <span id="damage-dice"></span>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </a>
                                                        <div class="spell-data">
                                                            <div class="row">
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <form class="form-inline">
                                                                            <div class="form-group">
                                                                                <label for="max-value-success" class="control-label col-sm-4 ">Valeur maximale de
                                                                                    succès</label>
                                                                                <div class="col-sm-2">
                                                                                    <input type="number" id="max-value-success" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <h4 class="page-header">En cas de quasi-succès (2)</h4>
                                                                            <label for="almost-success-max" class="control-label">Dégâts maximum</label>
                                                                            <input id="almost-success-max" type="number" class="form-control">
                                                                            <label for="almost-success-avg" class="control-label">Dégâts moyens</label>
                                                                            <input id="almost-success-avg" class="form-control" type="number">
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <h4 class="page-header">En cas de quasi-échec</h4>
                                                                            <label for="almost-failure-max" class="control-label">Dégâts maximum</label>
                                                                            <input id="almost-failure-max" class="form-control" type="number">
                                                                            <label for="almost-failure-avg" class="control-label">Dégâts moyens</label>
                                                                            <input id="almost-failure-avg" class="form-control" type="number">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        {% else %}
                            <div class="panel panel-default characteristic-panel">
                                <div class="panel-body">
                                    <p>Aucune donnée</p>
                                </div>
                            </div>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    {% include 'AppBundle:GamePlay:menu-edit-progress-bar.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src= {{ asset('js/jquery-ui.min.js') }}></script>
    <script src="{{ asset('js/AppBundle/GamePlay/play_as_mj.js') }}"></script>
    <script src="{{ asset('js/AppBundle/GamePlay/damage_helper.js') }}"></script>
{% endblock %}