{% extends "AppBundle::base.html.twig" %}

{% block title %}{{ gameName }} - Maître du jeu {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/AppBundle/GamePlay/play_as_mj.css') }}">

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <a class="pull-right btn btn-default" data-toggle="tooltip"
               title="Éditer la configuration de la partie" href="{{ path('game_edition', {'idGame': gameId}) }}"><span
                        class="glyphicon glyphicon-cog"></span></a>
            <div class="dropdown pull-right" id="hidden-characteristics-menu">
                <button class="btn btn-default dropdown-toggle"
                        type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-eye-open"></span> <span class="caret"></span>
                </button>
                <ul id="hidden-characteristics" class="dropdown-menu"></ul>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    {% include 'AppBundle:GamePlay:menu-edit-progress-bar.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/AppBundle/GamePlay/play_as_mj.js') }}"></script>

{% endblock %}